<html>
<body>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Введите текст заказа" />
        <input type="text" name="phoneNumber" placeholder="Введите номер телефона" />
        <input type="text" name="name" placeholder="Введите ваше имя" />
        <button type="submit">Добавить</button>

    </form>
</div>
<div>Список заказов</div>
{{#orders}}
<div>
    <b>{{id}}</b>
    <span>{{text}}</span>
    <span>{{phoneNumber}}</span>
    <span>{{name}}</span>
</div>
{{/orders}}

</body>
</html>